.pictures{
    font-family: 'Ranga', cursive;
    color:red;
}

.artist{
    
      font-family: 'Lobster Two', cursive;
        color:beige;
      
}
.car{
    font-family: 'Rubik', sans-serif;
    color: green;
    
    }
.bike{
    font-family: 'Anton', sans-serif;
    color:orange;
}
.winner{
    font-family: 'Teko', sans-serif;
    color:gold;
}
body{
background-color:purple;
}
.title{
    color:hotpink;
}